{% extends 'Rango/base.html' %}

{% load staticfiles %}

{% block title %}Homepage{% endblock %}
	
{%block body_block %}
		{% if user.is_authenticated %}
			<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
			<h1>Rango says... hello world!</h1>
		{% endif %}

		<p> You have visited this page {{ visits }} times</p>
			
		
		{% if categories %}
			<h2><strong>All Categories!</strong></h2>
			<ul>
				{% for category in categories %}
				<li><a href={% url 'category' category.slug %}>{{ category.name }}</a></li>
				{% endfor %}
			</ul>
			<hr><br>
			
			<h2><strong>Most popular pages!</strong></h2>
			<ol>
				{% for page in pages %}
				<li><a href={{ page.url }}>{{ page.title }}</a></li>
				{% endfor %}
			</ol>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		
{% endblock %}