<!DOCTYPE html>

<html>

	<head>
		<title>Rango - Home</title>
	</head>
	
	<body>
		{% if user.is_authenticated %}
			<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
			<h1>Rango says... hello world!</h1>
		{% endif %}
			
		
		{% if categories %}
			<h2><strong>All Categories!</strong></h2>
			<ul>
				{% for category in categories %}
				<li><a href="/Rango/category/{{ category.slug }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
			<hr><br>
			
			<h2><strong>Most popular pages!</strong></h2>
			<ol>
				{% for page in pages %}
				<li><a href={{ page.url }}>{{ page.title }}</a></li>
				{% endfor %}
			</ol>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		
		<hr>
		
		{% if user.is_authenticated %}
			<a href="/Rango/restricted/">Restricted Page</a><br>
			<a href="/Rango/logout">Logout</a>
		{% else %}
			<a href="/Rango/register/">Sign up!</a><br>
			<a href="/Rango/login/">Login!</a>
		{% endif %}

		<br><a href="/Rango/about/">About</a><br>
		<a href="/Rango/add_category/">Add a new category!</a><br>
		
	</body>
	
</html>